# Build artifacts
dist/

# OS specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak
*~
temp/